<header class="navbar navbar-dark bg-dark">
  <div class="container">
    <a routerLink="home" routerLinkActive="Active"><h1 class="navbar-brand">Todo Application With HTTP</h1></a>
    <div class="right">
      <a routerLink="tasks" routerLinkActive="Active"><button class="btn btn-light mr-3">Show Tasks</button></a>
      <a routerLink="create-task" routerLinkActive="Active"><button class="btn btn-success mr-3">Create New Task</button></a>
    </div>
  </div>
</header>
<div class="container-fluid d-flex flex-column justify-content-start align-items-center">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>